header {
  padding: 30px;
  border-bottom: 2px solid #f2f2f2;

  & a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 0 10px;

    &.active {
      color: rgb(20, 63, 20);
      background-color: rgb(200, 206, 178);
      border: 2px solid red;
      font-weight: 700;
      
    }  
  }
}

